src/main/resources/car.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

    <xs:complexType name="car">
        <xs:sequence>
            <xs:element name="id" type="xs:int" />
            <xs:element name="model" type="xs:string" minOccurs="0" />
            <xs:element name="color" type="xs:string" minOccurs="0" />
            <xs:element name="number" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>